@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Raleway';
  src: url(../fonts/raleway/Raleway-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Raleway - Extra Bold';
  src: url(../fonts/raleway/Raleway-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: 'Raleway - Semi Bold';
  src: url(../fonts/raleway/Raleway-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: 'Montserrat - Ultra Light';
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
.header {
  max-width: 1920px;
  min-height: 1024px;
  background-image: url(../img/bg_photo_header.png);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 150px 0 150px;
  margin: 0 auto;
}
.header-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  width: 181px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 0 220px 0 0;
}
.header-logo-svg {
  fill: currentColor;
}
.header-logo-txt {
  font-family: "Raleway";
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
  text-align: right;
}
.header-logo:hover {
  color: #998675;
}
.header-logo:active {
  color: #fff;
}

.nav {
  display: flex;
}
.nav-wrp-link {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  height: 10px;
  font-family: "Montserrat";
  text-decoration: none;
  padding: 0 30px 0 0;
}
.nav-wrp-link:nth-child(8) {
  padding: 0;
}
.nav-wrp-link:nth-child(2) {
  color: #c7b299;
}
.nav-wrp-link:hover {
  color: #998675;
}
.nav-wrp-link:active {
  color: #fff;
}

.form {
  position: relative;
  margin: 0 0 0 60px;
  display: flex;
}
.form-link {
  text-decoration: none;
  fill: #fff;
}
.form-link:hover {
  fill: #998675;
}
.form-link:active {
  fill: #fff;
}
.form-search {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block;
  margin: 0 0 0 28px;
}
.form-search-svg {
  fill: #fff;
}
.form-search-svg:hover {
  fill: #c7b299;
}
.form-search-svg:active {
  fill: #fff;
}
.form-input {
  width: 0;
  min-height: 0;
  position: absolute;
  outline: none;
  box-sizing: border-box;
  top: 45px;
  left: -130px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
}
.form-input:focus {
  width: 200px;
  min-height: 20px;
  transition: width 1s ease-out;
  border: 1px solid #fff;
}

.header-content-wrp {
  display: flex;
  flex-wrap: wrap;
  margin: 285px 0 0 0;
  justify-content: space-between;
}

.btn-trigger-left {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
}
.btn-trigger-left::before {
  content: "";
  display: block;
  width: 52px;
  height: 0;
  border: 2px solid #d3c1ad;
  transform: rotate(-225deg);
  top: 0;
  left: 0;
  position: absolute;
}
.btn-trigger-left::after {
  content: "";
  display: block;
  width: 52px;
  height: 0;
  border: 2px solid #d3c1ad;
  transform: rotate(225deg);
  top: 38px;
  left: 0;
  position: absolute;
}
.btn-trigger-left:hover::before, .btn-trigger-left:hover::after {
  border: 2px solid #998675;
}
.btn-trigger-left:active::before, .btn-trigger-left:active::after {
  border: 2px solid #fff;
}

.btn-trigger-right {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
}
.btn-trigger-right::before {
  content: "";
  display: block;
  width: 52px;
  height: 0;
  border: 2px solid #d3c1ad;
  transform: rotate(225deg);
  top: 0;
  left: 0;
  position: absolute;
}
.btn-trigger-right::after {
  content: "";
  display: block;
  width: 52px;
  height: 0;
  border: 2px solid #d3c1ad;
  transform: rotate(-225deg);
  top: 38px;
  left: 0;
  position: absolute;
}
.btn-trigger-right:hover::before, .btn-trigger-right:hover::after {
  border: 2px solid #998675;
}
.btn-trigger-right:active::before, .btn-trigger-right:active::after {
  border: 2px solid #fff;
}

.header-content {
  width: 590px;
  text-align: center;
  margin: 0;
}
.header-content-heading-mini {
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  font-family: "Raleway";
}
.header-content-heading-top {
  font-family: "Raleway - Extra Bold";
  font-size: 52px;
  font-weight: 400;
  color: #fff;
  margin: 14px 0 19px 0;
  height: 50px;
}
.header-content-txt {
  width: 562px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  word-break: break-all;
  margin: 0 auto;
}
.header-content-button {
  display: block;
  width: 170px;
  min-height: 53px;
  background-color: #998675;
  color: #fff;
  margin: 52px auto 0;
  padding: 21px 37px;
  box-sizing: border-box;
  border: none;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  border-radius: 5px;
}
.header-content-button:hover {
  background-color: #fff;
  color: #998675;
}
.header-content-button:active {
  background-color: #998675;
  color: #fff;
}
.header-content-button-txt {
  margin: auto;
  font-family: "Raleway - Extra Bold";
  font-size: 14px;
  font-weight: 400;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 327px 0 0 0;
}
.pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  border: 2px solid transparent;
  background-color: #d3c1ad;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.pagination-item:nth-child(5) {
  margin: 0;
}
.pagination-item:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.2);
}

.content {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-features {
  display: flex;
  justify-content: center;
  padding: 90px 0 80px 0;
}

.features {
  width: 267px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 34px 0 0;
}
.features-icon {
  display: block;
  fill: #555555;
}
.features-heading {
  font-size: 22px;
  font-weight: 400;
  font-family: "Raleway - Semi Bold";
  text-align: center;
  color: #555555;
  margin: 29px 0 12px;
  width: 100%;
}
.features-txt {
  color: #8c8c8c;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin: 0 0 33px 0;
  word-break: break-all;
}
.features::after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: #8c8c8c;
}
.features:hover .features-icon {
  fill: #c7b299;
}
.features:hover .features-heading {
  color: #c7b299;
}
.features:hover::after {
  background-color: #c7b299;
}
.features:nth-child(4) {
  margin: 0;
}

.waxom-is-heading {
  text-align: center;
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  padding: 83px 0 0 0;
  margin: 0;
}
.waxom-is-txt {
  text-align: center;
  width: 757px;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 auto;
  word-break: break-all;
  margin: 24px auto 40px;
}
.waxom-is-wrap {
  position: relative;
  width: 1250px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.waxom-is-wrap-img:nth-child(1) {
  position: absolute;
  z-index: 1;
  top: 82px;
  left: 11px;
}
.waxom-is-wrap-img:nth-child(2) {
  margin: 0 auto;
  z-index: 2;
}
.waxom-is-wrap-img:nth-child(3) {
  position: absolute;
  z-index: 1;
  top: 82px;
  left: 470px;
}

.advertising {
  width: 1920px;
  box-sizing: border-box;
  height: 150px;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.advertising-info {
  margin: 0 470px 0 0;
}
.advertising-info-heading {
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 8px 0;
  color: #fff;
}
.advertising-info-heading-span {
  color: #c7b299;
}
.advertising-info-txt {
  color: #615855;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  margin: 0;
  color: #615855;
}
.advertising-button {
  width: 170px;
  min-height: 50px;
  background-color: #998675;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 19px 28px;
  border: none;
}
.advertising-button-span {
  color: #fff;
  font-family: "Raleway - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
  word-break: break-all;
}
.advertising-button:hover {
  background-color: #fff;
}
.advertising-button:hover .advertising-button-span {
  color: #998675;
}
.advertising-button:active {
  background-color: #998675;
}
.advertising-button:active .advertising-button-span {
  color: #fff;
}

.latest-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.latest-projects-heading {
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 24px;
}
.latest-projects-txt {
  width: 757px;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  margin: 0;
}
.latest-projects-item {
  margin: 40px 0 40px 0;
  display: flex;
  justify-content: center;
  padding: 0;
}
.latest-projects-item-list {
  list-style-type: none;
}
.latest-projects-item-list-btn {
  max-width: 135px;
  min-height: 32px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  color: #8c8c8c;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  padding: 10px 18px;
  margin: 0 10px 0 0;
  border-radius: 3px;
  box-sizing: border-box;
  word-break: break-all;
}
.latest-projects-item-list-btn:hover {
  background-color: #998675;
  color: #fff;
}
.latest-projects-item-list-btn:active {
  background-color: #fff;
  color: #8c8c8c;
}
.latest-projects-button {
  width: 170px;
  height: 50px;
  background-color: #fff;
  color: #8c8c8c;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-family: "Raleway - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  word-break: break-all;
  box-sizing: border-box;
  margin: 40px 0 0 0;
}
.latest-projects-button:hover {
  background-color: #998675;
  color: #fff;
}
.latest-projects-button:active {
  background-color: #fff;
  color: #8c8c8c;
}

.projects-article {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.projects-article-item {
  width: 370px;
  margin: 0 30px 30px 0px;
  position: relative;
}
.projects-article-item-img {
  display: block;
  width: 100%;
}
.projects-article-item:hover .projects-article-item-img {
  filter: brightness(25%);
}
.projects-article-item:hover .projects-article-item-wrp {
  background-color: #362f2d;
}
.projects-article-item:hover .projects-article-item-wrp::before {
  border-bottom: 15px solid #362f2d;
}
.projects-article-item:last-child {
  margin-right: 0;
}
.projects-article-item-wrp {
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
  width: 100%;
}
.projects-article-item-wrp-heading {
  color: #c7b299;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  margin: 0 0 14px 0;
}
.projects-article-item-wrp-span {
  color: #d1d1d1;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
}
.projects-article-item-wrp::before {
  content: "";
  border: 15px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  top: -29px;
  left: 28px;
}
.projects-article-item-btn-link, .projects-article-item-btn-search {
  width: 25px;
  height: 25px;
  background-size: cover;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%;
}
.projects-article-item-btn-link {
  background-image: url(../img/link.svg);
  left: 35%;
}
.projects-article-item-btn-search {
  background-image: url(../img/lupa.svg);
  right: 35%;
}
.projects-article-item:hover .projects-article-item-btn-link {
  display: block;
}
.projects-article-item:hover .projects-article-item-btn-search {
  display: block;
}

.video {
  box-sizing: border-box;
  min-height: 705px;
  position: relative;
}
.video-item {
  filter: brightness(60%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.video-wrp {
  filter: brightness(90%);
  box-sizing: border-box;
  position: absolute;
  width: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 687px;
  top: 224px;
}
.video-wrp-btn {
  background-color: transparent;
  border-radius: 50%;
  fill: #fff;
  border: none;
  margin: 0 0 44px 0;
  padding: 0;
}
.video-wrp-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.video-wrp-btn:active {
  background-color: transparent;
}
.video-wrp-heading {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 29px 0;
}
.video-wrp-txt {
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 40px 0;
}
.video-wrp-span {
  color: #c7b299;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
}

.mobile-devices {
  box-sizing: border-box;
  padding: 80px 0 0 0;
  min-height: 695px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-devices-img {
  width: 423px;
  height: 616px;
  margin: 0 30px 0 0;
}

.mobile-devices-wrp {
  width: 657px;
  min-height: 325px;
  box-sizing: border-box;
}
.mobile-devices-wrp-heading {
  margin: 0 0 40px 0;
  color: #555555;
  font-family: 'Raleway - Semi Bold';
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}
.mobile-devices-wrp-txt {
  margin: 0 0 45px 0;
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  word-break: break-all;
}
.mobile-devices-wrp-item {
  box-sizing: border-box;
  width: 556px;
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  padding: 0;
  margin: 0 0 0 100px;
}
.mobile-devices-wrp-item-list {
  list-style: none;
  word-break: break-all;
  margin: 0 0 5px 0;
  position: relative;
}
.mobile-devices-wrp-item-list::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(../img/img-atticle-list.svg);
  background-size: cover;
  position: absolute;
  top: 4px;
  left: -40px;
}

.statistics {
  min-height: 300px;
  box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 69px 0 60px 0;
  display: flex;
  justify-content: center;
}
.statistics-item {
  width: 132px;
  box-sizing: border-box;
  margin-right: 75px;
}
.statistics-item:last-child {
  margin: 0;
}
.statistics-item-icon {
  display: block;
  fill: #c7b299;
  margin: 0 auto 30px;
}
.statistics-item-number {
  display: block;
  color: #fff;
  font-family: 'Montserrat - Ultra Light';
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 0 0 20px 0;
}
.statistics-item-note {
  display: block;
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  word-break: break-all;
}
.statistics-item::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
}

.recent-posts {
  padding: 80px 0;
}
.recent-posts-heading {
  color: #555555;
  font-family: 'Raleway - Semi Bold';
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 30px 0;
}
.recent-posts-txt {
  width: 757px;
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  margin: 0 auto 40px;
}
.recent-posts-block {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.recent-posts-pagination {
  display: flex;
  justify-content: center;
}
.recent-posts-pagination-link {
  fill: #d1d1d1;
  text-align: center;
}
.recent-posts-pagination-link:hover {
  fill: #c7b299;
}
.recent-posts-pagination-link:active {
  fill: #d1d1d1;
}
.recent-posts-pagination-link:first-child {
  margin-right: 8px;
}

.recent-posts-block-item {
  width: 370px;
  box-sizing: border-box;
  position: relative;
  margin-left: 30px;
}
.recent-posts-block-item:nth-child(1) {
  margin: 0;
}
.recent-posts-block-item-img {
  box-sizing: border-box;
  width: 100%;
  display: block;
}
.recent-posts-block-item-wrp {
  box-sizing: border-box;
  padding: 30px;
}
.recent-posts-block-item-wrp-title {
  color: #555555;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 0 0 19px 0;
}
.recent-posts-block-item-wrp-txt {
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin: 0 0 27px 0;
}
.recent-posts-block-item-wrp-link {
  text-decoration: none;
  color: #c7b299;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  position: relative;
}
.recent-posts-block-item-wrp-link:hover {
  color: #8c8c8c;
}
.recent-posts-block-item-wrp-link:active {
  color: #c7b299;
}
.recent-posts-block-item-wrp-link::after {
  content: "\25b6";
  position: absolute;
  top: -2px;
  left: 80px;
}
.recent-posts-block-item-date {
  position: absolute;
  width: 50px;
  height: 60px;
  box-sizing: border-box;
  top: 20px;
  left: 20px;
}
.recent-posts-block-item-date-day {
  height: 35px;
  display: block;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding: 9px 10px;
  box-sizing: border-box;
  background-color: #323232;
  border-radius: 3px 3px 0 0;
}
.recent-posts-block-item-date-month {
  height: 25px;
  display: block;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: #252525;
  border-radius: 0 0 3px 3px;
}
.recent-posts-block-item:hover .recent-posts-block-item-img {
  filter: brightness(40%);
}
.recent-posts-block-item:hover .recent-posts-block-item-wrp {
  background-color: #362f2d;
}
.recent-posts-block-item:hover .recent-posts-block-item-wrp-title {
  color: #c7b299;
}
.recent-posts-block-item:hover .recent-posts-block-item-wrp-txt {
  color: #fff;
}
.recent-posts-block-item:hover .recent-posts-block-item-date-day {
  background-color: #c7b299;
}
.recent-posts-block-item:hover .recent-posts-block-item-date-month {
  background-color: #a48d72;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 489px;
  background-image: url(../img/background-icon.jpg);
}
.logo-item {
  margin-right: 90px;
}
.logo-item:last-child {
  margin: 0;
}
.logo-item:hover {
  filter: brightness(50%);
}
.logo-item:active {
  filter: brightness(100%);
}

.footer {
  max-width: 1920px;
  background-color: #191919;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 80px 0;
}
.footer-top {
  min-height: 508px;
  display: flex;
  justify-content: center;
}

.footer-top-item {
  width: 270px;
  min-height: 260px;
  border: 2px solid #fff;
  margin: 0 35px 0 0;
}
.footer-top-item:last-child {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
