// * {
//     margin: 0;
//     padding: 0;
// }
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"); 
}
@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway - Extra Bold";
    src: url(../fonts/raleway/Raleway-ExtraBold.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway - Semi Bold";
    src: url(../fonts/raleway/Raleway-SemiBold.ttf)format("truetype");
}

$width-site: 1920px;

.header {
    max-width: $width-site;
    min-height: 1024px;
    background-image: url(../img/bg_photo_header.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 150px 0 150px;
    margin: 0 auto;
    &-wrp{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-logo {
        width: 181px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #fff;
        margin: 0 220px 0 0;
        &-svg {
            fill: currentColor;
        }
        &-txt {
            font-family: "Raleway";
            font-size: 34px;
            font-weight: 400;
            letter-spacing: -1.36px;
            text-align: right;
        }
        &:hover {
            color: #998675;
        }
        &:active {
            color: #fff;
        }
    }
    
}
.nav {
    display: flex;        
    &-wrp{
        &-link{
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            height: 10px;
            font-family: "Montserrat";
            text-decoration: none;
            padding: 0 30px 0 0;
            &:nth-child(8) {
                padding: 0;
            }
            &:nth-child(2) {
                color: #c7b299;
            }
            &:hover{
                color: #998675;
            }
            &:active {
                color: #fff;
            }
        }
    }
}
.form {
    margin: 0 0 0 60px;
    display: flex;

    &-link{
     text-decoration: none;
     fill: #fff;
     &:hover {
       fill: #998675;  
     }
     &:active {
        fill: #fff;  
     }
   }
    &-search {
       width: 24px;
       height: 24px;
       outline: none;
       background-image: url(../img/icon-search.svg);
       background-size: contain;
       background-repeat: no-repeat;
       border: none;
       background-color: transparent;
       display: block;
       margin: 0 0 0 28px;
       color: #fff;
       &:focus {
         width: 300px;
         transition: width 1s ease-out;
         background-position: right;
         border: 1px solid #998675;
       } 
   }
}

.header-content-wrp {
    display: flex;
    flex-wrap:wrap;
    margin: 285px 0 0 0;
    justify-content: space-between;
}
.btn-trigger-left {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  &::before {
      content: "";
      display: block;
      width: 52px;
      height: 0;
      border: 2px solid #d3c1ad;
      transform: rotate(-225deg);
      top: 0;
      left: 0;
      position: absolute;
  }
  &::after {
      content: "";
      display: block;
      width: 52px;
      height: 0;
      border: 2px solid #d3c1ad;
      transform: rotate(225deg);
      top: 38px;
      left: 0;
      position: absolute;
  }
  &:hover::before,
  &:hover::after{
    border: 2px solid #998675;
  }
  &:active::before,
  &:active::after {
    border: 2px solid #fff;
  }
}
.btn-trigger-right {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 52px;
        height: 0;
        border: 2px solid #d3c1ad;
        transform: rotate(225deg);
        top: 0;
        left: 0;
        position: absolute;
    }
    &::after {
        content: "";
        display: block;
        width: 52px;
        height: 0;
        border: 2px solid #d3c1ad;
        transform: rotate(-225deg);
        top: 38px;
        left: 0;
        position: absolute;
    }
    &:hover::before,
    &:hover::after{
      border: 2px solid #998675;
    }
    &:active::before,
    &:active::after {
      border: 2px solid #fff;
    }
  }
.header-content {
    width: 590px;
  text-align: center;
  margin: 0;
  &-heading-mini{
      margin: 0;
      font-weight: 500;
      font-size: 36px;
      color: #ffffff;
      font-family: "Raleway";
  }
  &-heading-top {
    font-family: "Raleway - Extra Bold";
    font-size: 52px;
    font-weight: 400;
    color: #fff;
    margin: 14px 0 19px 0;
    height: 50px;
  }
  &-txt {
    width: 562px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    word-break: break-all;
    margin: 0 auto;
  }
  &-button {
      display: block;
      width: 170px;
      min-height: 53px;
      background-color:#998675;
      color: #fff;
      margin: 52px auto 0;
      padding: 21px 37px;
      box-sizing: border-box;
      border: none;
      display: flex;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      word-break: break-all;
      border-radius: 5px;
      &:hover {
        background-color: #fff;
        color: #998675;
      }
      &:active {
        background-color:#998675;
        color: #fff; 
      }
    
    &-txt{
        margin: auto;
        font-family: "Raleway - Extra Bold";
        font-size: 14px;
        font-weight: 400;
    }
  }
}
.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 327px 0 0 0;
        &-item {
        display: block;
        width: 11px;
        height: 11px;
        border: 2px solid transparent;
        background-color: #d3c1ad;
        border-radius: 50%;
        margin: 0 10px 0 0;
        &:nth-child(5) {
            margin: 0;
        }
        &:hover {
            background-color: transparent;
            border: 2px solid #d3c1ad;
            transform: scale(1.2);
        }

    }
}
.page-features {
    display: flex;
    justify-content: center;
    padding: 90px 0 0 0;
}
.features {
    width: 267px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin:0 34px 0 0;
    &-icon{
        display: block;
        fill: #555555;
    }
    &-heading {
        font-size: 22px;
        font-weight: 400;
        font-family: "Raleway - Semi Bold";
        text-align: center;
        color: #555555;
        margin: 29px 0 12px;
        width: 100%;
    }
    &-txt {
        color: #8c8c8c;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin: 0 0 33px 0;
        word-break: break-all;
    }
    &::after{
        content: "";
        display: block;
        width: 70px;
        height: 1px;
        background-color: #8c8c8c;
    }
    &:hover &-icon{
        fill: #c7b299;
    }
    &:hover &-heading {
        color: #c7b299;
    }
    &:hover::after {
       background-color: #c7b299;
    }
}