// * {
//     margin: 0;
//     padding: 0;
// }
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"); 
}
@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway/Raleway-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway - Extra Bold";
    src: url(../fonts/raleway/Raleway-ExtraBold.ttf) format("truetype");
}
@font-face {
    font-family: "Raleway - Semi Bold";
    src: url(../fonts/raleway/Raleway-SemiBold.ttf)format("truetype");
}

$width-site: 1920px;

.header {
    max-width: $width-site;
    min-height: 1024px;
    background-image: url(../img/bg_photo_header.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 150px 0 150px;
    margin: 0 auto;
    &-wrp{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-logo {
        width: 181px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #fff;
        margin: 0 220px 0 0;
        &-svg {
            fill: currentColor;
        }
        &-txt {
            font-family: "Raleway";
            font-size: 34px;
            font-weight: 400;
            letter-spacing: -1.36px;
            text-align: right;
        }
        &:hover {
            color: #998675;
        }
        &:active {
            color: #fff;
        }
    }
    
}
.nav {
    display: flex;        
    &-wrp{
        &-link{
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            height: 10px;
            font-family: "Montserrat";
            text-decoration: none;
            padding: 0 30px 0 0;
            &:nth-child(8) {
                padding: 0;
            }
            &:nth-child(2) {
                color: #c7b299;
            }
            &:hover{
                color: #998675;
            }
            &:active {
                color: #fff;
            }
        }
    }
}
.form {
    margin: 0 0 0 60px;
    display: flex;

    &-link{
     text-decoration: none;
     fill: #fff;
     &:hover {
       fill: #998675;  
     }
     &:active {
        fill: #fff;  
     }
   }
    &-search {
       width: 24px;
       height: 24px;
       outline: none;
       background-image: url(../img/icon-search.svg);
       background-size: contain;
       background-repeat: no-repeat;
       border: none;
       background-color: transparent;
       display: block;
       margin: 0 0 0 28px;
       color: #fff;
       &:focus {
         width: 300px;
         transition: width 1s ease-out;
         background-position: right;
         border: 1px solid #998675;
       } 
   }
}
.header-content-wrp {
    display: flex;
    flex-wrap:wrap;
    margin: 285px 0 0 0;
    justify-content: space-between;
}
.btn-trigger-left {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  &::before {
      content: "";
      display: block;
      width: 52px;
      height: 0;
      border: 2px solid #d3c1ad;
      transform: rotate(-225deg);
      top: 0;
      left: 0;
      position: absolute;
  }
  &::after {
      content: "";
      display: block;
      width: 52px;
      height: 0;
      border: 2px solid #d3c1ad;
      transform: rotate(225deg);
      top: 38px;
      left: 0;
      position: absolute;
  }
  &:hover::before,
  &:hover::after{
    border: 2px solid #998675;
  }
  &:active::before,
  &:active::after {
    border: 2px solid #fff;
  }
}
.btn-trigger-right {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 52px;
        height: 0;
        border: 2px solid #d3c1ad;
        transform: rotate(225deg);
        top: 0;
        left: 0;
        position: absolute;
    }
    &::after {
        content: "";
        display: block;
        width: 52px;
        height: 0;
        border: 2px solid #d3c1ad;
        transform: rotate(-225deg);
        top: 38px;
        left: 0;
        position: absolute;
    }
    &:hover::before,
    &:hover::after{
      border: 2px solid #998675;
    }
    &:active::before,
    &:active::after {
      border: 2px solid #fff;
    }
  }
.header-content {
    width: 590px;
  text-align: center;
  margin: 0;
  &-heading-mini{
      margin: 0;
      font-weight: 500;
      font-size: 36px;
      color: #ffffff;
      font-family: "Raleway";
  }
  &-heading-top {
    font-family: "Raleway - Extra Bold";
    font-size: 52px;
    font-weight: 400;
    color: #fff;
    margin: 14px 0 19px 0;
    height: 50px;
  }
  &-txt {
    width: 562px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    word-break: break-all;
    margin: 0 auto;
  }
  &-button {
      display: block;
      width: 170px;
      min-height: 53px;
      background-color:#998675;
      color: #fff;
      margin: 52px auto 0;
      padding: 21px 37px;
      box-sizing: border-box;
      border: none;
      display: flex;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      word-break: break-all;
      border-radius: 5px;
      &:hover {
        background-color: #fff;
        color: #998675;
      }
      &:active {
        background-color:#998675;
        color: #fff; 
      }
    
    &-txt{
        margin: auto;
        font-family: "Raleway - Extra Bold";
        font-size: 14px;
        font-weight: 400;
    }
  }
}
.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 327px 0 0 0;
        &-item {
        display: block;
        width: 11px;
        height: 11px;
        border: 2px solid transparent;
        background-color: #d3c1ad;
        border-radius: 50%;
        margin: 0 10px 0 0;
        &:nth-child(5) {
            margin: 0;
        }
        &:hover {
            background-color: transparent;
            border: 2px solid #d3c1ad;
            transform: scale(1.2);
        }

    }
}
.content {
    max-width: $width-site;
    margin: 0 auto;
    box-sizing: border-box;
}
.page-features {
    display: flex;
    justify-content: center;
    padding: 90px 0 80px 0;
}
.features {
    width: 267px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin:0 34px 0 0;
    &-icon{
        display: block;
        fill: #555555;
    }
    &-heading {
        font-size: 22px;
        font-weight: 400;
        font-family: "Raleway - Semi Bold";
        text-align: center;
        color: #555555;
        margin: 29px 0 12px;
        width: 100%;
    }
    &-txt {
        color: #8c8c8c;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin: 0 0 33px 0;
        word-break: break-all;
    }
    &::after{
        content: "";
        display: block;
        width: 70px;
        height: 1px;
        background-color: #8c8c8c;
    }
    &:hover &-icon{
        fill: #c7b299;
    }
    &:hover &-heading {
        color: #c7b299;
    }
    &:hover::after {
       background-color: #c7b299;
    }
    &:nth-child(4) {
        margin: 0;
    }
}
.waxom-is {
    &-heading {
    text-align: center;
    color: #555555;
    font-family: "Raleway - Semi Bold";
    font-size: 30px;
    font-weight: 400;
    padding: 83px 0 0 0;
    margin: 0;
    }
    &-txt {
    text-align: center;
    width: 757px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 auto;
    word-break: break-all;
    margin: 24px auto 40px;
    }
    &-wrap {
        position: relative;
        width: 1250px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        &-img:nth-child(1) {
            position: absolute;
            z-index: 1;
            top: 82px;
            left: 11px;
        }
        &-img:nth-child(2) {
            margin: 0 auto;
            z-index: 2;
        }
        &-img:nth-child(3) {
            position: absolute;
            z-index: 1;
            top: 82px;
            left: 470px;
            
        }
    }
    
}
.advertising {
    width: $width-site;
    box-sizing: border-box;
    height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    &-info {
        margin: 0 470px 0 0;
       &-heading{
        color: #555555;
        font-family: "Raleway - Semi Bold";
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        margin: 0 0 8px 0;
        color: #fff;
        &-span{
            color: #c7b299;;
        }
       }
       &-txt{
        color: #615855;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        text-align: left;
        margin: 0;
        color: #615855; 
       }
    }
    &-button {
        width: 170px;
        min-height: 50px;
        background-color: #998675;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 19px 28px;
        border: none;
        &-span{
            color:#fff;
            font-family: "Raleway - Extra Bold";
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;
            text-transform: uppercase;
            text-align: center;
            word-break: break-all;
        }
        &:hover{
            background-color: #fff;
        }
        &:hover &-span {
            color: #998675;
        }
        &:active{
            background-color: #998675;
        }
        &:active &-span {
            color: #fff;
        }
    }
}
.latest-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    &-heading{
        color: #555555;
        font-family: "Raleway - Semi Bold";
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 24px;
    }
    &-txt{
        width: 757px;
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        margin: 0;
    }
    &-item{
        margin: 40px 0 40px 0;
        display: flex;
        justify-content: center;
        padding: 0;
        &-list{
            list-style-type: none;
            &-btn{
                max-width: 135px;
                min-height: 32px;
                background-color: #fff;
                border: 1px solid #ebebeb;
                color: #8c8c8c;
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
                text-align: center;
                padding: 10px 18px;
                margin: 0 10px 0 0; 
                border-radius: 3px;
                box-sizing: border-box;
                word-break: break-all;
                &:hover {
                    background-color: #998675;
                    color: #fff;
                }
                &:active {
                    background-color: #fff;
                    color: #8c8c8c;
                    border: none;
                }
            }       
        }
    }
    &-button{
        width: 170px;
        height: 50px;
        background-color: #fff;
        color: #8c8c8c;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        font-family: "Raleway - Extra Bold";
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        word-break: break-all;
        box-sizing: border-box;
        margin: 40px 0 0 0;
        &:hover{
            background-color: #998675;
            color: #fff;
        }
        &:active{
            background-color: #fff;
            color: #8c8c8c;
        }
    }
}
.projects-article {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    &-item{
        width: 370px;
        margin: 0 30px 30px 0px;
        position: relative;
        &-img{
            display: block;
            width: 100%;
        }
        &:hover &-img {
            filter: brightness(25%);
        }
        &:hover &-wrp {
            background-color: #362f2d;
        }
        &:hover &-wrp::before {
            border-bottom: 15px solid #362f2d;
        }
        &:last-child{
            margin-right: 0;
        }
        &-wrp{
            background-color: #fff;
            box-sizing: border-box;
            padding: 30px;
            position: relative;
            width: 100%;
            &-heading{
                color: #c7b299;
                font-family: 'Raleway';
                font-size: 20px;
                font-weight: 500;
                color: #c7b299;
                margin: 0 0 14px 0;
            }
            &-span{
                color: #d1d1d1;
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                margin: 0;
            }
            &::before{
                content: "";
                border: 15px solid transparent;
                border-bottom: 15px solid #fff;
                position: absolute;
                top: -29px;
                left: 28px;
            }

        }
        &-btn-link,
        &-btn-search {
            width: 25px;
            height: 25px;
            background-size: cover;
            display: none;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            background-color: transparent;
            position: absolute;
            top: 45%;
        }
        &-btn-link{
            background-image: url(../img/link.svg);
            left: 35%;
        }
        &-btn-search{
            background-image: url(../img/lupa.svg);
            right: 35%;
        }
        &:hover &-btn-link{
            display: block;
        }
        &:hover &-btn-search{
            display: block;
        }
        
    }
}
.video{
    box-sizing: border-box;
    min-height: 705px;
    position: relative;    
    &-item{
        filter: brightness(60%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;    
    }
    &-wrp{
        filter: brightness(90%);
        box-sizing: border-box;
        position: absolute;
        width: 552px;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 687px;
        top: 224px;
        &-btn{
            background-color: transparent;
            border-radius: 50%;
            fill: #fff;
            border: none;
            margin: 0 0 44px 0;
            padding: 0;
            &:hover{
                background-color: rgba(0, 0, 0, 0.2);
            }
            &:active{
                background-color: transparent;
            }
        }
        &-heading{
            color: #ffffff;
            font-family: 'Raleway';
            font-size: 30px;
            font-weight: 500;
            text-align: center;
            margin: 0 0 29px 0;
        }
        &-txt{
            color: #ffffff;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            margin: 0 0 40px 0;
        }
        &-span{
            color: #c7b299;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 400;
        }
    }
}
.mobile-devices {
    box-sizing: border-box;
    padding: 80px 0 0 0;
    min-height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-img{
        width: 423px;
        height: 616px;
        margin: 0 30px 0 0;
    }
}
.mobile-devices-wrp{
    width: 657px;
    min-height: 325px;
    box-sizing: border-box;
    &-heading{
        margin: 0 0 40px 0;
        color: #555555;
        font-family: 'Raleway - Semi Bold';
        font-size: 30px;
        font-weight: 400;
        text-align: left;
    }
    &-txt{
        margin: 0 0 45px 0;
        color: #8c8c8c;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: left;
        word-break: break-all;
    }
    &-item{
        box-sizing: border-box;
        width: 556px;
        color: #8c8c8c;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 300;
        line-height: 32px;
        text-align: left;
        padding: 0;
        margin: 0 0 0 100px;
       &-list{
           list-style: none;
           word-break: break-all;
           margin: 0 0 5px 0;
           position: relative;
           &::before{
               content: "";
               display: block;
               width: 21px;
               height: 21px;
               background-image: url(../img/img-atticle-list.svg);
               background-size: contain;
               position: absolute;
               top: 4px;
               left: -40px;
           }
           
       }
    }
}